<div class="container my-container">
  <h1>Add Blog</h1>
  <br />
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      [(ngModel)]="blog.title"
      class="form-control"
      placeholder="Add title"
    />

    <label for="content" class="required">Content</label>
    <textarea
      name="content"
      [(ngModel)]="blog.content"
      class="form-control"
      placeholder="Add content"
    ></textarea>
  </div>
  <button (click)="addblog()" type="submit" class="btn btn-primary">Add</button>
</div>
