<div class="container">
  <h2>My Blogs</h2>
  <br />
  <!-- *ngFor="let blog of blogs"-->
  <div *ngIf="blogs$ | async as blogs">
    <div style="padding: 20px 0px;" *ngFor="let blog of blogs$ | async">
      <div class="card">
        <div class="card-header">
          {{ blog.title }}
        </div>
        <div class="card-body">
          <a routerLink="/blog-details">
            <p class="card-text">{{ blog.content }}</p>
          </a>

          <br />
          <a href="#" routerLink="/comment" class="btn btn-primary"
            >Add Comment</a
          >
        </div>
      </div>
    </div>

    <!-- </div> -->

    <!-- <div *ngIf="blogs$ | async as blogs">
  <p *ngFor="let blog of blogs">Test</p>
</div> -->

    <!-- <ul class="blogs">
     <li *ngIf="blogs$ | async as blogs">
  <li *ngFor="let blog of blogs"
  [class.selected]="blog === selectedBlog"
  (click)="onSelect(blog)" >
    <span class="badge">{{blog.title}}</span>
  </li>
</ul>

<app-blog-details [blog]
="selectedBlog"></app-blog-details> -->

    <!-- <div *ngIf="selectedBlog">

<h2>{{selectedBlog.title | uppercase}} Details</h2>
<div><span>id: </span>{{selectedBlog.id}}</div>
div><span>title: </span>{{selectedBlog.title}}</div> -->

    <!-- <div>
    <label>title:
      <input [(ngModel)]="selectedBlog.title" placeholder="name"/>
    </label>
    div><span>content: </span>{{selectedBlog.content}}</div>
  </div> -->
    <!-- </div> -->
  </div>
</div>
