<p>home works!</p>
<h2>My Blogs</h2>

<div *ngIf="blogs$ | async as blogs">
  <p *ngFor="let blog of blogs">Test</p>
</div>

<!-- <ul class="blogs">
  <li *ngFor="let blog of blogs"
  [class.selected]="blog === selectedBlog"
  (click)="onSelect(blog)" >
    <span class="badge">{{blog.id}}</span> {{blog.title}}   {{blog.content}}
  </li>
</ul>

<div *ngIf="selectedBlog">

<h2>{{selectedBlog.title | uppercase}} Details</h2>
<div><span>id: </span>{{selectedBlog.id}}</div>
div><span>title: </span>{{selectedBlog.title}}</div> -->

<!-- <div>
    <label>title:
      <input [(ngModel)]="selectedBlog.title" placeholder="name"/>
    </label>
    div><span>content: </span>{{selectedBlog.content}}</div>
  </div> -->
