<!-- <p>comment works!</p> -->
<!-- <div id="respond"> -->
<div class="container my-container">
  <h3>Leave a Comment</h3>
  <br />
  <!-- <form>
  
      <label for="comment_author" class="required">Your name</label>
      <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
  
      <label for="email" class="required">Your email</label>
      <input type="email" name="email" id="email" value="" tabindex="2" required="required">
  
      <label for="comment" class="required">Your message</label>
      <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
  
      
      <!--<input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" /> -->
  <!-- <input name="submit" type="submit" value="Submit comment" />
  
    </form> -->

  <form>
    <!-- <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Name</label>
        <input
          type="text"
          class="form-control is-valid"
          id="validationServer01"
          value="Mark"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer02">Last name</label>
        <input
          type="text"
          class="form-control is-valid"
          id="validationServer02"
          value="Otto"
          required
        />
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">your message</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div> -->
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="comment.name"
        class="form-control"
        placeholder="Add name"
      />

      <label for="message" class="required">Message</label>
      <textarea
        name="message"
        [(ngModel)]="comment.message"
        class="form-control"
        placeholder="Add comment"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addComment()">
      Submit Comment
    </button>
  </form>
</div>
